---
swagger: "2.0"
info:
  description: "Documentación de los servicios Multiva Sprint 1  <a href='https://drive.google.com/open?id=0B_OaZlYG0i2ndHJUT3VFem5LWlk'>Documento Compartido</a>" 
  version: "0.1.0"
  title: "Grupo Financiero Multiva"
host: "200.39.24.141"
basePath: "/BEO"
tags:
- name: "Core Bancario"
  description: "Grupo Financiero Multiva"
  externalDocs:
    description: "Servicios Multiva"
    url: "http://200.39.24.141:9090/docs"
paths:
  /consultaDatosBasicos:
    post:
      tags:
      - "ESB Fuse"
      description: "Consolidar la información relevante respecto al diseño de la operacion /consultaDatosBasicos del servicio /cliente requerida para la integración de Multivanet con T24"
      parameters:
      - in: "body"
        name: "consultaDatosBasicos,"
        description: "Consumidor  que dibuja encabezado con datos de cliente"
        required: true
        schema:
          $ref: "#/definitions/consultaDatosBasicos-in"
      responses:
        200:
          description: "En esta interfaz se describe un servicio dummy que se publicara para el uso del consumidor en tanto se completa la integracion del ESB a T24. Bajo el entendido de que la firma expuesta en este servicio dummy no cambiara cuando el desarrollo termine"
          schema:
            $ref: "#/definitions/consultaDatosBasicos-res"
  /consultaServiciosContratados:
    post:
      tags:
      - "ESB Fuse"
      description: "Consolidar la información relevante respecto al diseño de la operacion /consultaServiciosContratados del servicio /cliente requerida para la integración de Multivanet con T24"
      parameters:
      - in: "body"
        name: "consultaServiciosContratados"
        description: "Devuelve un listado de los servicios existentes para personas morales, indicando cuales de ellos han sido contratados por la persona proporcionada"
        required: true
        schema:
          $ref: "#/definitions/consultaServiciosContratados-in"
      responses:
        200:
          description: "Devuelve un listado de los servicios existentes para personas morales, indicando cuales de ellos han sido contratados por la persona proporcionada."
          schema:
            $ref: "#/definitions/consultaServiciosContratados-res"
  /consultaProductosContratados:
    post:
      tags:
      - "ESB Fuse"
      description: "Consolidar la información relevante respecto al diseño de la operacion /consultaProductosContratados del servicio /cliente requerida para la integración de Multivanet con T24"
      parameters:
      - in: "body"
        name: "consultaProductosContratados"
        description: "Devuelve un listado de los productos bancarios que han sido contratados por la persona proporcionada"
        required: true
        schema:
          $ref: "#/definitions/consultaProductosContratados-in"
      responses:
        200:
          description: "Devuelve un listado de los productos bancarios que han sido contratados por la persona proporcionada"
          schema:
            $ref: "#/definitions/consultaProductosContratados-res"
  /Validaotp:
    post:
      tags:
      - "ESB Fuse"
      description: "Servicio que realiza la validación del OTP"
      parameters:
      - in: "body"
        name: "validaOTP"
        description: "Se requiere la validación de VACMAN del usuario y su OTP"
        required: true
        schema:
          $ref: "#/definitions/validaOTP"
      responses:
        200:
          description: "Tipos de datos de la respuesta del servicio"
          schema:
            $ref: "#/definitions/Validaotp-res"
  /Validacontrato:
    post:
      tags:
      - "ESB Fuse"
      description: "Este servicio es para  cambiar la bandera de que el usuario acepto el contrato"
      parameters:
      - in: "body"
        name: "contrato"
        description: "Se requiere la validacion de la contraseña actual"
        required: true
        schema:
          $ref: "#/definitions/Validacontrato-in"
      responses:
        200:
          description: "Tipos de datos de respuesta"
          schema:
            $ref: "#/definitions/Validacontrato-res"
            


  /v1/consultaDatosBasicos:
    post:
      tags:
      - "Middleware"
      description: "Consolidar la información relevante respecto al diseño de la operacion /consultaDatosBasicos del servicio /cliente requerida para la integración de Multivanet con T24"
      parameters:
      - in: "body"
        name: "consultaDatosBasicos,"
        description: "Consumidor  que dibuja encabezado con datos de cliente"
        required: true
        schema:
          $ref: "#/definitions/ValidacontratoMiddleware-in"
      responses:
        200:
          description: "En esta interfaz se describe un servicio dummy que se publicara para el uso del consumidor en tanto se completa la integracion del ESB a T24. Bajo el entendido de que la firma expuesta en este servicio dummy no cambiara cuando el desarrollo termine"
          schema:
            $ref: "#/definitions/consultaDatosBasicos-res"
  /v1/consultaServiciosContratados:
    post:
      tags:
      - "Middleware"
      description: "Consolidar la información relevante respecto al diseño de la operacion /consultaServiciosContratados del servicio /cliente requerida para la integración de Multivanet con T24"
      parameters:
      - in: "body"
        name: "consultaServiciosContratados"
        description: "Devuelve un listado de los servicios existentes para personas morales, indicando cuales de ellos han sido contratados por la persona proporcionada"
        required: true
        schema:
          $ref: "#/definitions/ValidacontratoMiddleware-in"
      responses:
        200:
          description: "Devuelve un listado de los servicios existentes para personas morales, indicando cuales de ellos han sido contratados por la persona proporcionada."
          schema:
            $ref: "#/definitions/consultaServiciosContratados-res"
  /v1/consultaProductosContratados:
    post:
      tags:
      - "Middleware"
      description: "Consolidar la información relevante respecto al diseño de la operacion /consultaProductosContratados del servicio /cliente requerida para la integración de Multivanet con T24"
      parameters:
      - in: "body"
        name: "consultaProductosContratados"
        description: "Devuelve un listado de los productos bancarios que han sido contratados por la persona proporcionada"
        required: true
        schema:
          $ref: "#/definitions/ValidacontratoMiddleware-in"
      responses:
        200:
          description: "Devuelve un listado de los productos bancarios que han sido contratados por la persona proporcionada"
          schema:
            $ref: "#/definitions/consultaProductosContratados-res"
  /v1/Validaotp:
    post:
      tags:
      - "Middleware"
      description: "Servicio que realiza la validación del OTP"
      parameters:
      - in: "body"
        name: "validaOTP"
        description: "Se requiere la validación de VACMAN del usuario y su OTP"
        required: true
        schema:
          $ref: "#/definitions/ValidacontratoMiddleware-in"
      responses:
        200:
          description: "Tipos de datos de la respuesta del servicio"
          schema:
            $ref: "#/definitions/Validaotp-res"
  /v1/Validacontrato:
    post:
      tags:
      - "Middleware"
      description: "Este servicio es para  cambiar la bandera de que el usuario acepto el contrato"
      parameters:
      - in: "body"
        name: "contrato"
        description: "Se requiere la validacion de la contraseña actual"
        required: true
        schema:
          $ref: "#/definitions/Validacontrato-in"
      responses:
        200:
          description: "Tipos de datos de respuesta"
          schema:
            $ref: "#/definitions/Validacontrato-res"
  /V1/CambioContrasena:
    post:
      tags:
      - "Middleware"
      description: "Devuelve un listado de los productos bancarios que han sido contratados\
        \ por la persona proporcionada. "
      parameters:
      - in: "body"
        name: "CambioContrasena"
        description: " cambio de Contrasena"
        required: true
        schema:
          $ref: "#/definitions/cambioContrasena-in"
      responses:
        200:
          description: "Devuelve un listado de los productos bancarios que han sido\
            \ contratados por la persona proporcionada."
          schema:
            $ref: "#/definitions/cambioContrasena-res"
  /V1/ConsultaCuentasAgregadasCliente:
    post:
      tags:
      - "Middleware"
      description: "Devuelve un listado de los productos bancarios que han sido contratados\
        \ por la persona proporcionada. "
      operationId: "consultaCuentasAgregadasClientePOST"
      parameters:
      - in: "body"
        name: "ConsultaCuentasAgregadasCliente"
        description: " Consulta Productos Contratadose"
        required: true
        schema:
          $ref: "#/definitions/consultaProductosContratados-in"
      responses:
        200:
          description: "Devuelve un listado de los productos bancarios que han sido\
            \ contratados por la persona proporcionada."
          schema:
            $ref: "#/definitions/consultaCuentasAgregadasCliente-res"
  /V1/EnvioNotificaciones:
    post:
      tags:
      - "Middleware"
      description: "Devuelve un listado de los productos bancarios que han sido contratados\
        \ por la persona proporcionada. "
      operationId: "envioNotificacionesPOST"
      parameters:
      - in: "body"
        name: "EnvioNotificaciones"
        description: " Consulta Productos Contratadose"
        required: true
        schema:
          $ref: "#/definitions/envioNotificaciones-in"
      responses:
        200:
          description: "Devuelve un listado de los productos bancarios que han sido\
            \ contratados por la persona proporcionada."
          schema:
            $ref: "#/definitions/envioNotificaciones-res"
        
        
definitions:
  envioNotificaciones-res:
    properties:
      responseStatus:
        type: "string"
        example: "string"
      responseError:
        type: "string"
        example: "string"

  envioNotificaciones-in:
    required:
    - "canal"
    - "idPersona"
    properties:
      idPersona:
        type: "string"
        example: "Long"
      token:
        type: "string"
        example: "string"        
      ticket:
        $ref: "#/definitions/cambioContrasenain_ticket"
      tipoMensaje:
        type: "string"
        example: "string"
      tipoNotificacion:
        type: "string"
        example: "string"
      from:
        type: "string"
        example: "string"
      to:
        type: "string"
        example: "string"
      mapParameters:
        $ref: "#/definitions/envioNotificacionesin_mapParameters"
      canal:
        type: "string"
        example: "string"
        minLength: 1
        maxLength: 5
        
        
  envioNotificacionesin_mapParameters:
    properties:
      key:
        type: "string"
        example: "string"
        
        
  
  consultaCuentasAgregadasCliente-res:
    properties:
      listCuentasCliente:
        type: "array"
        items:
          $ref: "#/definitions/consultaCuentasAgregadasCliente-res-array"
      listCreditosCliente:
        type: "array"
        items:
          $ref: "#/definitions/consultaCuentasAgregadasCliente-res-array"
      listInversionesCliente:
        type: "array"
        items:
          $ref: "#/definitions/consultaCuentasAgregadasCliente-res-array"
      responseStatus:
        type: "string"
        example: "string"
      responseError:
        type: "string"
        example: "string"
        
  consultaCuentasAgregadasCliente-res-array:
    properties:
      numeroDeCuenta:
        type: "string"
        example: "string"
      idProducto:
        type: "string"
        example: "string"
      descripcionProducto:
        type: "string"
        example: "string"
      divisa:
        type: "string"
        example: "string"
      saldo:
        type: "string"
        example: "Big Decimal"
      idSucursal:
        type: "string"
        example: "integer"
      nombreSucursal:
        type: "string"
        example: "string"

        
  

  cambioContrasena-in:
    required:
    - "canal"
    - "idPersona"
    - "newPassword"
    - "oldPassword"
    - "otp"
    properties:
      idPersona:
        type: "string"
        example: "Long"
      token:
        type: "string"
        example: "Long"        
      ticket:
        $ref: "#/definitions/cambioContrasenain_ticket"
      canal:
        type: "string"
        example: "string"
      otp:
        type: "string"
        example: "string"
      oldPassword:
        type: "string"
        example: "string"
      newPassword:
        type: "string"
        example: "string"
        
  cambioContrasenain_ticket:
    properties:
      id_user:
        type: "string"
        example: "string"
      id_creds:
        type: "string"
        example: "string"
        
        
  cambioContrasena-res:
    properties:
      listCambioContrasena:
        $ref: "#/definitions/cambioContrasenares_listCambioContrasena"
        
  cambioContrasenares_listCambioContrasena:
    properties:
      codigo:
        type: "string"
        example: "integer"
      mensaje:
        type: "string"
        example: "string"







  ValidacontratoMiddleware-in:
    properties:
      token:
        type: "string"
        example: "4333534"
    
        
        
  Validacontrato-in:
    properties:
      Usuario:
        type: "string"
        example: "4333534"
      ContratoAceptado:
        type: "integer"
        example: 1
        
  Validacontrato-res:
    properties:
      CodigoRespuesta:
        type: "integer"
        example: "integer"
        
  consultaProductosContratados-in:
    required: 
      - token
    properties:
      token:
        type: "string"
        example: "1025478963" 
        
  consultaProductosContratados-res:
    required:
      - responseStatus
    properties:
      ListaProductos:
         type: "array"
         items:
          $ref: "#/definitions/ServiciosContratadosListaServicios"
      responseStatus:
        type: integer
        example: "String"
      responseError:
        type: "string"
        example: "String"
         
        
  Validaotp-res:
     properties:
      CodigoRespuesta:
        type: "integer"
        example: "integer"
      DescRespuesta:
        type: "string"
        example: "string"
      Antiphishing:
        type: "integer"
        example: "integer"
        
  validaOTP:
    properties:
      Usuario:
        type: "string"
        example: "123456789"
      OTP:
        type: "string"
        example: "12345tftg56577654"
      Tipo:
        type: "integer"
        example: 1
  



  consultaServiciosContratados-in:
    required:
      - idPersona
      - canal
    properties:
      idPersona:
        type: number
        example: "1025478963"
      ticket:
          $ref: "#/definitions/consultaServiciosContratadosticket"
      canal:
        type: "string"
        minLength: 1
        maxLength: 5
        example: "CUBA1234575SDF"
        
  consultaServiciosContratadosticket:
    required:
      - id_user
      - id_creds
    properties:
      id_user:
        type: "string"
        example: ""
      id_creds:
        type: "string"
        example: ""
  
  
  
  
  ticket:
    required:
      - id_user
      - id_creds
    properties:
      id_user:
        type: "string"
        example: ""
      id_creds:
        type: "string"
        example: ""
  
  
  consultaServiciosContratados-res:
    required:
      - responseStatus
    properties:
      listaServicios:
         type: "array"
         items:
          $ref: "#/definitions/ServiciosContratadosListaServicios"
      responseStatus:
        type: integer
        example: "String"
      responseError:
        type: "string"
        example: "String"
      
     


  
  consultaDatosBasicos-in:
    required:
      - idPersona
      - canal
    properties:
      idPersona:
        type: number
        example: "1025478963"
      ticket:
          $ref: "#/definitions/ticket"
      canal:
        type: "string"
        minLength: 1
        maxLength: 5
        example: "CUBA1234575SDF"
        
        
  ServiciosContratadosListaServicios:
    properties:
      nombre:
        type: "string"
        example: "String"
      contratado:
        type: boolean
        example: "Boolean"
  
  consultaDatosBasicos-res:
    required:
      - numCliente
      - nombre
    properties:
      numCliente:
        type: "integer"
        format: "int64"
        example: "Long"
      nombre:
        type: "string"
        example: "String"
      listaDirecciones:
         type: "array"
         items:
          $ref: "#/definitions/listaDeDirecciones"
      rfc:
        type: "string"
        example: "String"
      listaTelefonos:
        type: "array"
        items:
          $ref: "#/definitions/listaDeTelefonos"
      listaEmails:
        type: "array"
        items:
          $ref: "#/definitions/listaDeEmail"
      tipoPersona:
        type: "string"
        example: "String"
      estatus:
        type: "string"
        example: "String"
      sucursal:
        type: "string"
        example: "String"
      vip:
        type: "string"
        example: "String"
      responseStatus:
        type: "string"
        example: "String"
      responseError:
        type: "string"
        example: "String"
      
 
          
  listaDeEmail:
    properties:
      mail:
        type: "string"
        example: "String"
      activo:
        type: boolean
        example: "Boolean"
      tipoEmail:
        type: "string"
        example: "String"
     
        
  listaDeTelefonos:
    properties:
      telefono:
        type: integer
        example: "Integer"
      tipoTelefono:
        type: "string"
        example: "String"
    
        
        
  listaDeDirecciones:
    properties:
      direccion:
        type: "string"
        example: "String"
      poblacion:
        type: "string"
        example: "String"
      ciudad:
        type: "string"
        example: "String"
      estado:
        type: "string"
        example: "String"
      cp:
        type: "string"
        example: "String"
      tipoDireccion:
        type: "string"
        example: "String"
     
 

  
